<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}

    <div class="d-flex justify-content-center mt-5">
        <div class="input-group w-50">

            <input type="search"
                   class="form-control"
                   placeholder="Search"
                   name="name">

            <input type="submit"
                   class="btn btn-primary"
                   value="Submit">

        </div>
    </div>
</form>
<br>
<br>
<br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>NAME</th>
                <th>COURSE</th>
                <th>BATCH</th>
                <th>STAFF</th>
                <th>PHONE</th>
                <th>DOMAIN</th>
                <th>UPDATE</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for student in products %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.batch }}</td>
                <td>{{ student.staff }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.domain }}</td>
                <td><a href="{% url 'update' student.id %}"><button class="btn btn-primary">UPDATE</button></a></td>
                <td><a href="{% url 'delete' student.id %}"><button class="btn btn-primary">DELETE</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>